@media (prefers-color-scheme: dark ){
    @keyframes flare{
        from{color: var(--color4);}
        to{color: var(--color6);}
    }

    .fondo.adaptive{
        background-color: var(--fondoOscuro);
    }


    .contenedor.adaptive{
        background-color: var(--blurOscuroInactivo);
    }

    .titulo1.adaptive{
        font-family: var(--fuentePrincipal);
        color: var(--color4);
        animation-duration: 30s;
        animation-name: flare;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .titulo2.adaptive{
        font-family: var(--fuentePrincipal);
        color: var(--fondoClaro);
    }

    .titulo3.adaptive{
        font-family: var(--fuentePrincipal);
        color: var(--fondoClaro);
    }

    .subtitulo.adaptive{
        display: flex;
        justify-content: center;
        font-family: var(--fuentePrincipal);
        font-size: 16px;
        color: var(--fondoClaro);
    }

    .texto.adaptive{
        display: flex;
        justify-content: start;
        font-family: "JetBrains Mono", monospace;
        font-size: 20px;
        color: var(--fondoClaro);
    }

    .texto-boton.adaptive{
        font-family: "JetBrains Mono", monospace;
        font-size: 18px;
        z-index: 1;
        color: var(--fondoClaro);
        padding: 5px 20px;
        border-radius: 100px;
        background: var(--blurOscuroInactivo);
        backdrop-filter: blur(2px);
        box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
        transition: grid-template-columns 0.2s ease;
    }

    .boton:hover .texto-boton.adaptive{background: var(--blurOscuroActivo);}


}